#header_area {
    height: 3rem;
    background-color: #B7472A;
    padding-top: .7rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.header-box {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.number {
    display: flex;
    gap: 1rem;
}

.number i,
p {
    color: #ffffff99;
    font-size: 1.2rem;
}

.number .telephone-box {
    display: flex;
    gap: 1rem;
}


.number .email-box {
    display: flex;
    gap: 1rem;
}

.social {
    display: flex;
    gap: 3rem;
}

.social .header-icon {
    display: flex;
    gap: 1rem;
}

.social .header-link {
    display: flex;
    gap: 2rem;
}

.social i {
    color: #fff;
    font-size: 1.3rem;
}

.social a {
    color: #ffffff99;
    font-size: 1.3rem;
    text-transform: uppercase;
}

#nav_area {
    height: 7.4rem;
    background-color: #000;
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: 3rem;
    z-index: 1;
}

#nav_area h1 {
    color: #fff;
    text-transform: uppercase;
}

#nav_area .nav-box {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.nav-box i {
    display: none;
}

.nav-list ul {
    display: flex;
    gap: 4rem;
}

.nav-list ul li a {
    text-transform: uppercase;
    color: #ffffff99;
    transition: .5s;
}

.nav-list ul li a:hover {
    color: #B7472A;
}

.nav-list ul li form select {
    background: none;
    border: 1px solid #000;
    text-transform: uppercase;
    color: #ffffff99;
    width: 11rem;
}

.nav-list ul li form select option {
    text-transform: uppercase;
    color: #000;
}

#hero {
    height: 40rem;
    background-image: url(/assets/images/bg_2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.hero-text {
    padding-top: 25rem;
    text-align: center;
}

.hero-text h1 {
    color: #fff;
    font-size: 6rem;
}

.hero-text h2 {
    color: #ffffff99;
}

#contact-us {
    height: 35rem;
    padding-top: 10rem;
}

#contact-us .card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    text-align: center;
    border: none;
}

#contact-us .card .card-icon {
    width: 10rem;
    height: 10rem;
    background-color: #B7472A;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-us .card .card-icon i {
    font-size: 2.5rem;
    color: #fff;
}

#contact-us .card .card-text p {
    font-size: 1.6rem;
}

#contact_area {
    margin-bottom: 10rem;
}

.contact-box {
    width: 106rem;
    height: 55.5rem;
    display: flex;
}

.contact-box h1 {
    margin-bottom: 3rem;
    font-size: 2.8rem;
    color: #000;
}

.contact-box .contact-form {
    padding: 7rem 5rem;
}

.contact-box .contact-form .form-box form {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.contact-box iframe {
    width: 44.2rem;
    height: 55.5rem;
}

.contact-box .contact-form .name-box {
    display: flex;
    flex-direction: column;
}

.contact-box .contact-form .name-box label {
    text-transform: uppercase;
}

.contact-box .contact-form .name-box input {
    width: 24.6rem;
    height: 5.2rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.contact-box .contact-form .email-box {
    display: flex;
    flex-direction: column;
}

.contact-box .contact-form .email-box label {
    text-transform: uppercase;
}

.contact-box .contact-form .email-box input {
    width: 24.6rem;
    height: 5.2rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.contact-box .contact-form .subject-box {
    display: flex;
    flex-direction: column;
}

.contact-box .contact-form .subject-box label {
    text-transform: uppercase;
}

.contact-box .contact-form .subject-box input {
    width: 52.3rem;
    height: 5.2rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.contact-box .contact-form .textarea-box {
    display: flex;
    flex-direction: column;
}

.contact-box .contact-form .textarea-box label {
    text-transform: uppercase;
}

.contact-box .contact-form .textarea-box textarea {
    width: 52.3rem;
    height: 8.5rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.contact-box .contact-form .twoform-box {
    display: flex;
    gap: 4rem;
}

#footer_area {
    height: 40rem;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
}

.footer-boxs {
    display: flex;
    gap: 7rem;
}

.footer-boxs .box1 {
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.footer-boxs .box1 h1 {
    font-size: 2rem;
    color: gray;
}

.footer-boxs .box2 h1 {
    font-size: 2rem;
    color: gray;
}

.footer-boxs .box3 h1 {
    font-size: 2rem;
    color: gray;
}

.footer-boxs .box4 h1 {
    font-size: 2rem;
    color: gray;
}

.footer-boxs .box5 h1 {
    font-size: 2rem;
    color: gray;
}

.footer-boxs .box2,
.box3,
.box4,
.box5 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.footer-boxs .box1 p {
    font-size: 1.6rem;
}

.footer-boxs .box1 .footer-social {
    display: flex;
    gap: 2rem;
}

.footer-boxs .box1 .footer-social .social1 {
    width: 5rem;
    height: 5rem;
    background-color: #B7472A;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-boxs .box1 .footer-social .social1 i {
    color: #fff;
    font-size: 2rem;
}

.footer-boxs .box1 .footer-social .social2 {
    width: 5rem;
    height: 5rem;
    background-color: #B7472A;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-boxs .box1 .footer-social .social2 i {
    color: #fff;
    font-size: 2rem;
}

.footer-boxs .box1 .footer-social .social3 {
    width: 5rem;
    height: 5rem;
    background-color: #B7472A;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-boxs .box1 .footer-social .social3 i {
    color: #fff;
    font-size: 2rem;
}

.footer-boxs .box2 ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-boxs .box3 ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-boxs .box4 ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-boxs .box5 ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-boxs .box2 ul li a {
    color: gray;
    font-size: 1.6rem;
}

.footer-boxs .box3 ul li a {
    color: gray;
    font-size: 1.6rem;
}

.footer-boxs .box4 ul li a {
    color: gray;
    font-size: 1.6rem;
}

.footer-boxs .box5 {
    width: 22.8rem;
}

.footer-boxs .box5 ul li a {
    color: gray;
    font-size: 1.6rem;
}

.footer-boxs .box5 .map {
    display: flex;
    gap: 2rem;
}

.footer-boxs .box5 .map i {
    font-size: 2rem;
    color: gray;
}

.footer-boxs .box5 .telephone {
    display: flex;
    gap: 2rem;
}

.footer-boxs .box5 .telephone i {
    font-size: 2rem;
    color: gray;
}

.footer-boxs .box5 .send {
    display: flex;
    gap: 2rem;
}

.footer-boxs .box5 .send i {
    font-size: 2rem;
    color: gray;
}

#copyright {
    height: 12.4rem;
    background-color: #000;
    display: flex;
    align-items: center;
}

#copyright span {
    font-size: 1.6rem;
    color: gray;
}

@media(max-width:768px) {
    #header_area {
        height: 6rem;
        z-index: 1;
    }

    #header_area .container .header-box {
        display: flex;
        flex-direction: column;
    }

    .header-box .social {
        display: flex;
        justify-content: space-between;
    }

    #nav_area {
        margin-top: 6rem;
        z-index: 1;
    }

    .nav-list ul {
        display: none;
    }

    .nav-box i {
        display: block;
        font-size: 2rem;
    }

    .contact-box iframe {
        width: 38rem;
    }

    #contact-us {
        height: 80rem;
    }

    .contact-box {
        height: 75.5rem;
        width: 25rem;
        display: flex;
        flex-direction: column;
    }

    .contact-box .contact-form .twoform-box {
        display: flex;
        flex-direction: column;
    }
    .contact-box .contact-form .subject-box input {
        width: 25rem;
    }

    .contact-box .contact-form .textarea-box textarea {
        width: 25rem;
    }
    
    #footer_area {
        height: 120rem;
    }

    .footer-boxs {
        display: block;
    }

    #copyright span {
        font-size: 1.3rem;
    }
}