#header_area {
    height: 3rem;
    background-color: #B7472A;
    padding-top: .7rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.header-box {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.number {
    display: flex;
    gap: 1rem;
}

.number i,
p {
    color: #ffffff99;
    font-size: 1.2rem;
}

.number .telephone-box {
    display: flex;
    gap: 1rem;
}


.number .email-box {
    display: flex;
    gap: 1rem;
}

.social {
    display: flex;
    gap: 3rem;
}

.social .header-icon {
    display: flex;
    gap: 1rem;
}

.social .header-link {
    display: flex;
    gap: 2rem;
}

.social i {
    color: #fff;
    font-size: 1.3rem;
}

.social a {
    color: #ffffff99;
    font-size: 1.3rem;
    text-transform: uppercase;
}

#nav_area {
    height: 7.4rem;
    background-color: #000;
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: 3rem;
    z-index: 1;
}

#nav_area h1 {
    color: #fff;
    text-transform: uppercase;
}

#nav_area .nav-box {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.nav-box i {
    display: none;
}

.nav-list ul {
    display: flex;
    gap: 4rem;
}

.nav-list ul li a {
    text-transform: uppercase;
    color: #ffffff99;
    transition: .5s;
}

.nav-list ul li a:hover {
    color: #B7472A;
}

#hero {
    height: 40rem;
    background-image: url(/assets/images/bg_2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.hero-text {
    padding-top: 25rem;
    text-align: center;
}

.hero-text h1 {
    color: #fff;
    font-size: 6rem;
}

.hero-text h2 {
    color: #ffffff99;
}
#single_blog{
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.singleblog-area{
    display: flex;
}
.blog-card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.blog-card .image{
    width: 73rem;
    height: 49.7rem;
}
.blog-card h1{
    font-size: 3.2rem;
    color: #000;
}
.blog-card .text1{
    width: 75rem;
}
.blog-card .text2{
    width: 75rem;
}
.blog-card p{
    color: #000;
    font-size: 1.6rem;
}
.singleblog-area form input{
    width: 31.6rem;
    height: 5.2rem;
    position: relative;
    margin-bottom: 5rem;
}
.singleblog-area .input-search{
    position: absolute;
    bottom: 10rem;
    right: 10rem;
    font-size: 2rem;
    color: #000;
}
.types{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 5rem;
}
.types h1{
    color: #000;
}
.types a{
    color: #000;
    font-size: 1.5rem;
    transition: .5s;
}
.types a:hover{
    color: #B7472A;
}
.blog{
    display: flex;
    flex-direction: column;
    gap: 2rem; 
    margin-bottom: 5rem;
}
.blog .image{
    width: 17rem;
    height: 7rem;
}
.blog h1{
    color: #000;
}
.blog .blog-card .card-text{
    display: flex;
    gap: 2rem;
    width: 30rem;
}
.blog .blog-card .card-text a{
    color: #000;
    font-size: 1.7rem;
}
.blog .blog-card .date{
   display: flex;
   gap: 2rem;
   margin-left: 9rem;
}
.blog .blog-card .date .calendar{
    display: flex;
    gap: 1rem;
}
.blog .blog-card .date .calendar i,.year{
    color: #000;
}
.blog .blog-card .date .message{
    display: flex;
    gap: 1rem;
}
.blog .blog-card .date .message i,.year{
    color: #000;
}
.cloud{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 5rem;
}
.cloud h1{
    margin-bottom: 2rem;
    color: #000;
}
.cloud .three-button{
    display: flex;
    gap: 1rem;
}
.cloud .two-button{
    display: flex;
    gap: 1rem;
}
.cloud button{
    padding: .5rem 1rem;
    border: 1px solid #000;
    background: none;
}
.paragraph h1{
    margin-bottom: 2rem;
    color: #000;
}
.paragraph p{
    color: #000;
    font-size: 1.5rem;
}
.four-button{
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
    margin-bottom: 3rem;
}
.four-button button{
    padding: .5rem 1rem;
    border: 1px solid #000;
    background: none;
}
.george{
    width: 73rem;
    height: 22.3rem;
    background-color: #0000000D;
    display: flex;
    padding: 3rem;
    gap: 4rem;
}
.george .image{
    width: 14.4rem;
    height: 14.4rem;
}
.george .george-text{
    width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.george .george-text h1{
    color: #000;
}
.george .george-text p{
    font-size: 1.6rem;
    color: #000;
}
.comment-form{
    margin-top: 8rem;
}
.comment-form h1{
    margin-bottom: 4rem;
}
.form-box{
    width: 73rem;
    height: 75.7rem;
    background-color: #0000000D;
    padding: 4.5rem;
}
.form-box form{
    display: flex;
    flex-direction: column;
}
.form-box form input{
    width: 63.4rem;
    height: 5.2rem;
    border: 1px solid #fff;
}
.form-box form textarea{
    width: 63.4rem;
    height: 22.2rem;
    border: 1px solid #fff;
}
.form-box form label{
    font-size: 1.6rem;
    color: #000;
}
.form-box .post{
    width: 14.9rem;
    height: 5.6rem;
    background-color: #B7472A;
    color: #fff;
    border: 1px solid #B7472A;
    margin-top: 2rem;
}
#footer_area {
    height: 40rem;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
}

.footer-boxs {
    display: flex;
    gap: 7rem;
}

.footer-boxs .box1 {
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.footer-boxs .box1 h1 {
    font-size: 2rem;
    color: gray;
}

.footer-boxs .box2 h1 {
    font-size: 2rem;
    color: gray;
}

.footer-boxs .box3 h1 {
    font-size: 2rem;
    color: gray;
}

.footer-boxs .box4 h1 {
    font-size: 2rem;
    color: gray;
}

.footer-boxs .box5 h1 {
    font-size: 2rem;
    color: gray;
}

.footer-boxs .box2,
.box3,
.box4,
.box5 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.footer-boxs .box1 p {
    font-size: 1.6rem;
}

.footer-boxs .box1 .footer-social {
    display: flex;
    gap: 2rem;
}

.footer-boxs .box1 .footer-social .social1 {
    width: 5rem;
    height: 5rem;
    background-color: #B7472A;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-boxs .box1 .footer-social .social1 i {
    color: #fff;
    font-size: 2rem;
}

.footer-boxs .box1 .footer-social .social2 {
    width: 5rem;
    height: 5rem;
    background-color: #B7472A;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-boxs .box1 .footer-social .social2 i {
    color: #fff;
    font-size: 2rem;
}

.footer-boxs .box1 .footer-social .social3 {
    width: 5rem;
    height: 5rem;
    background-color: #B7472A;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-boxs .box1 .footer-social .social3 i {
    color: #fff;
    font-size: 2rem;
}

.footer-boxs .box2 ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-boxs .box3 ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-boxs .box4 ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-boxs .box5 ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-boxs .box2 ul li a {
    color: gray;
    font-size: 1.6rem;
}

.footer-boxs .box3 ul li a {
    color: gray;
    font-size: 1.6rem;
}

.footer-boxs .box4 ul li a {
    color: gray;
    font-size: 1.6rem;
}

.footer-boxs .box5 {
    width: 22.8rem;
}

.footer-boxs .box5 ul li a {
    color: gray;
    font-size: 1.6rem;
}

.footer-boxs .box5 .map {
    display: flex;
    gap: 2rem;
}

.footer-boxs .box5 .map i {
    font-size: 2rem;
    color: gray;
}

.footer-boxs .box5 .telephone {
    display: flex;
    gap: 2rem;
}

.footer-boxs .box5 .telephone i {
    font-size: 2rem;
    color: gray;
}

.footer-boxs .box5 .send {
    display: flex;
    gap: 2rem;
}

.footer-boxs .box5 .send i {
    font-size: 2rem;
    color: gray;
}

#copyright {
    height: 12.4rem;
    background-color: #000;
    display: flex;
    align-items: center;
}

#copyright span {
    font-size: 1.6rem;
    color: gray;
}

@media(max-width:768px) {
    #header_area {
        height: 6rem;
        z-index: 1;
    }

    #header_area .container .header-box {
        display: flex;
        flex-direction: column;
    }

    .header-box .social {
        display: flex;
        justify-content: space-between;
    }

    #nav_area {
        margin-top: 6rem;
        z-index: 1;
    }

    .nav-list ul {
        display: none;
    }

    .nav-box i {
        display: block;
        font-size: 2rem;
    }
    .singleblog-area{
        display: flex;
        flex-direction: column;
    }
    .blog-card .image{
        width: 39rem;
        height: 49.7rem;
    }
    .blog-card .text1{
        width: 39rem;
    }
    .blog-card .text2{
        width: 39rem;
    }
    .george{
        width: 39rem;
        height: 32.3rem;
    }
    .form-box{
        width: 39rem;
        margin-bottom: 5rem;
    }
    .form-box form input{
        width: 30.4rem;
    }
    .form-box form textarea{
        width: 30.4rem;
    }
    .types{
     width: 39rem;
    }
    .blog{
        width: 39rem;
    }
    .blog .image{
        width: 17rem;
        height: 7rem;
    }
    .paragraph{
        width: 39rem;
    }
    #footer_area {
        height: 120rem;
    }

    .footer-boxs {
        display: block;
    }

    #copyright span {
        font-size: 1.3rem;
    }
}

