#header_area {
    height: 3rem;
    background-color: #B7472A;
    padding-top: .7rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
}

.header-box {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.number {
    display: flex;
    gap: 1rem;
}

.number i,
p {
    color: #ffffff99;
    font-size: 1.2rem;
}

.number .telephone-box {
    display: flex;
    gap: 1rem;
}


.number .email-box {
    display: flex;
    gap: 1rem;
}

.social {
    display: flex;
    gap: 3rem;
}

.social .header-icon {
    display: flex;
    gap: 1rem;
}

.social .header-link {
    display: flex;
    gap: 2rem;
}

.social i {
    color: #fff;
    font-size: 1.3rem;
}

.social a {
    color: #ffffff99;
    font-size: 1.3rem;
    text-transform: uppercase;
}

#nav_area {
    height: 7.4rem;
    background-color: #000;
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    margin-top: 3rem;
    z-index: 1;
}

#nav_area h1 {
    color: #fff;
    text-transform: uppercase;
}

#nav_area .nav-box {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.nav-box i {
    display: none;
}

.nav-list ul {
    display: flex;
    gap: 4rem;
}

.nav-list ul li a {
    text-transform: uppercase;
    color: #ffffff99;
    transition: .5s;
}
.nav-list ul li a:hover{
    color: #B7472A;
}

#good {
    height: 70rem;
    background-image: url(/assets/images/bg_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-attachment: fixed;
}

.good-text {
    width: 90rem;
}

.good-text h1 {
    color: #fff;
    font-size: 8rem;
}

.good-text button {
    width: 12.2rem;
    height: 4.8rem;
    font-size: 1.5rem;
    border-radius: .5rem;
}

.good-text .shop {
    background-color: #B7472A;
    color: #fff;
    border: 1px solid #B7472A;
}

.good-text .read {
    background: none;
    border: 1px solid #fff;
    transition: .5s;
    color: #fff;
}

.good-text .read:hover {
    background-color: #B7472A;
    border: 1px solid #B7472A;

}

#online {
    height: 22.5rem;
    background-color: #B7472A;
    display: flex;
    align-items: center;
}

#online .container .row .card {
    background: none;
    border: none;

}

#online .container .row .card .icon_box {
    display: flex;
    align-items: center;
}

#online .container .row .card .card-title {
    font-size: 1.8rem;
    color: #fff;
}

#online .container .row .card .card-text {
    font-size: 1.6rem;
}

#online .container .row .card .card_icon {
    font-size: 6rem;
    color: #fff;
}

#desire {
    height: 61rem;
    display: flex;
    align-items: center;
}

.desire-box {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.desire-box .image {
    width: 57rem;
    height: 51rem;
}

.desire-text {
    width: 57rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 7rem;
}

.desire-text p {
    color: #000;
    font-size: 1.6rem;
}

.desire-text .since {
    color: #B7472A;
    font-style: italic;
}

.desire-text h2 {
    font-size: 4rem;
    color: #000;
}

.desire-text h3 {
    font-size: 3rem;
    color: #000;
}

#tequila {
    height: 25rem;
    display: flex;
    align-items: center;
    margin-bottom: 10rem;
}

#tequila .card {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#tequila .card .image {
    width: 15rem;
    height: 15rem;
}

#tequila .card .image img {
    border-radius: 100%;
    outline: 1px solid #B7472A;
    outline-offset: 1rem;
}

#tequila .card .card-title {
    font-size: 2.2rem;
}
#tastefully{
    height: 120rem;
    display: flex;
    align-items: center;
}
#tastefully .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tastefully-text{
   text-align: center;
   margin-bottom: 5rem;
}
.tastefully-text p{
    color: #B7472A;
    font-size: 1.6rem;
    font-style: italic;
}
.tastefully-text h1{
    color: #000;
    font-size: 4rem;
    font-weight: bold;
}
#tastefully .card{
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#tastefully .sale{
    position: absolute;
    left: 13px;
    bottom: 98px;
    width: 4.1rem;
    height: 2.1rem;
    background-color: #B7472A;
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#tastefully .best{
    position: absolute;
    width: 7.1rem;
    height: 2.1rem;
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FE9801;
    left: 15px;
    bottom: 125px;
}
#tastefully .new{
    position: absolute;
    width: 8.3rem;
    height: 2.1rem;
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #01D28E;
    left: 15px;
    bottom: 98px;
}
#tastefully .card .image{
    width: 25.5rem;
    height: 35rem;
}
#tastefully .card .card-body{
    text-align: center;
}
#tastefully .card .card-body .name{
    font-size: 1.6rem;
    font-style: italic;
    color: #B7472A;
}
#tastefully .card .card-body p{
    font-size: 1.6rem;
    color: #000;
}
#tastefully .card .card-body h1{
    font-size: 2.2rem;
}
#tastefully .view{
    width: 35rem;
    height: 3.6rem;
    background-color: #B7472A;
    border: 1px solid #B7472A;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 15rem;
}
#tastefully .view i{
    font-size: 1.8rem;
    margin-left: 1rem;
}
#clients{
    height: 67rem;
    background-image: url(../images/bg_4.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.background-div{
    height: 67rem;
    background-color: #080808bd;
    text-align: center;
    padding-top: 10rem;
}
.background-div .clients-text{
    padding-bottom: 10rem;
}
.background-div .clients-text h1{
    font-size: 4rem;
    color: #fff;
    font-weight: bold;
}
.background-div .clients-text p{
    font-size: 1.6rem;
    font-style: italic;
}
.background-div .card{
    width: 35rem;
    height: 20rem;
    background: none;
    border: 1px solid gray;
    padding: 1.5rem;
    display: flex;
    position: relative;
}
.background-div .card .card-title{
    width: 31rem;
    text-align: left;
 }
.background-div .card .card-title p{
   font-size: 1.6rem;  
   font-style: italic;
}
.background-div .card .card-text{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.background-div .card .card-text .image{
    width: 8rem;
    height: 8rem;
}
.background-div .card .card-text .image img{
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
}
.background-div .card .card-text .image-text{
   text-align: left;
}
.background-div .card .card-text .image-text h3{
    font-size: 2rem;
    color: #fff;
}
.background-div .card .card-text .image-text p{
    font-size: 1.6rem;
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    gap: 1rem;
}
.pagination .circle{
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 100%;
    border: 1px solid #ffffff99;
}
.quote{
    width: 4rem;
    height: 4rem;
    background-color: #B7472A;
    position: absolute;
    bottom: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.quote i{
   font-size: 2.5rem;
   color: #fff;
}
#recent{
    height: 106rem;
}
#recent .row{
    row-gap: 2rem;
}
 .recent-text{
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 6rem;
}
.recent-text h1{
    font-size: 4rem;
    color: #000;
    font-weight: bold;
}
.recent-text p{
    font-size: 1.6rem;
    color: #B7472A;
    font-style: italic;
}
#recent .card{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
#recent .card .image{
    width: 50rem;
    height: 33.4rem;
}
.date{
    display: flex;
    align-items: center;
    gap: 1rem;
}
#recent .card .card-text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 3rem;
}
#recent .card .card-text  p{
    color: #000 ;
    font-size: 1.6rem;
}
#recent .card .card-text  h1{
    font-style: italic;
    font-size: 2.2rem;
}
#recent .card .card-text  a{
    font-style: italic;
    font-size: 1.6rem;
    color: #B7472A;
    font-weight: bold;
}
#footer_area{
    height: 40rem;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
}
.footer-boxs{
    display: flex;
    gap: 7rem;
}
.footer-boxs .box1{
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.footer-boxs .box1 h1{
    font-size: 2rem;
    color: gray;
}
.footer-boxs .box2 h1{
    font-size: 2rem;
    color: gray;
}
.footer-boxs .box3 h1{
    font-size: 2rem;
    color: gray;
}
.footer-boxs .box4 h1{
    font-size: 2rem;
    color: gray;
}
.footer-boxs .box5 h1{
    font-size: 2rem;
    color: gray;
}
.footer-boxs .box2,.box3,.box4,.box5{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.footer-boxs .box1 p{
    font-size: 1.6rem;
}
.footer-boxs .box1 .footer-social{
    display: flex;
    gap: 2rem;
}
.footer-boxs .box1 .footer-social .social1{
   width: 5rem;
   height: 5rem;
   background-color: #B7472A;
   border-radius: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.footer-boxs .box1 .footer-social .social1 i{
   color: #fff;
   font-size: 2rem;
 }
 .footer-boxs .box1 .footer-social .social2{
    width: 5rem;
    height: 5rem;
    background-color: #B7472A;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .footer-boxs .box1 .footer-social .social2 i{
    color: #fff;
    font-size: 2rem;
  }
  .footer-boxs .box1 .footer-social .social3{
    width: 5rem;
    height: 5rem;
    background-color: #B7472A;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .footer-boxs .box1 .footer-social .social3 i{
    color: #fff;
    font-size: 2rem;
  }
.footer-boxs .box2 ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer-boxs .box3 ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer-boxs .box4 ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer-boxs .box5 ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer-boxs .box2 ul li a{
   color:gray;
   font-size: 1.6rem;
}
.footer-boxs .box3 ul li a{
    color:gray;
   font-size: 1.6rem;
}
.footer-boxs .box4 ul li a{
    color:gray;
    font-size: 1.6rem;
}
.footer-boxs .box5{
    width: 22.8rem;
}
.footer-boxs .box5 ul li a{
    color:gray;
   font-size: 1.6rem;
}
.footer-boxs .box5 .map{
    display: flex;
    gap: 2rem;
}
.footer-boxs .box5 .map i{
   font-size: 2rem;
   color: gray;
}
.footer-boxs .box5 .telephone{
    display: flex;
    gap: 2rem;
}
.footer-boxs .box5 .telephone i{
    font-size: 2rem;
    color: gray;
 }
.footer-boxs .box5 .send{
    display: flex;
    gap: 2rem;
}
.footer-boxs .box5 .send i{
    font-size: 2rem;
    color: gray;
 }
 #copyright{
    height: 12.4rem;
    background-color: #000;
    display: flex;
    align-items: center;
 }
 #copyright span{
    font-size: 1.6rem;
    color: gray;
 }
@media(max-width:768px) {
    #header_area {
        height: 6rem;
        z-index: 1;
    }

    #header_area .container .header-box {
        display: flex;
        flex-direction: column;
    }

    .header-box .social {
        display: flex;
        justify-content: space-between;
    }

    #nav_area {
        margin-top: 6rem;
        z-index: 1;
    }

    .nav-list ul {
        display: none;
    }

    .nav-box i {
        display: block;
        font-size: 2rem;
    }

    .good-text h1 {
        font-size: 4rem;
    }

    #online {
        height: 70rem;

    }

    #desire {
        height: 111rem;
    }

    .desire-box {
        display: block;
    }

    .desire-box .image {
        width: 38rem;
        height: 40rem;
    }

    .desire-text {
        width: 38rem;
    }

    .desire-text h2 {
        font-size: 3rem;
    }
    #tequila {
        height: 135rem;
    }
    #tastefully{
        height: 400rem;
    }
    #tastefully .sale{
        left: 74px;
    }
    #tastefully .best{
        left: 74px;
        bottom: 99px;
    }
    #tastefully .new{
        left: 74px;
    }
    #clients{
        height: 97rem;
    }
    .background-div{
        height: 97rem;
    }
    #recent .card .image{
        width: 60rem;
        height: 37rem;
    }
    #footer_area{
        height: 120rem;
        margin-top: 80rem;
    }
    .footer-boxs{
        display: block;
    }
    #copyright span{
        font-size: 1.3rem;
     }
}